@import url(https://fonts.googleapis.com/css?family=Nunito);

header {
    width : 100%;
    height: 100px;
    background-color: #353744;
    
}


body{
    margin: 0;
}
.logo {
    margin-top: 10px;
    margin-left: 10px;
}

.sideNav {
    height: calc(100% - 100px);
    width: 160px;
    background-color: #61d290; 
    float: left;
}

.main {
    background-color: #f6f6f6;
    width: calc(100% - 160px);
    height: calc(100% - 100px);
    float: left;
    font-family: "Nunito";
}

.floatRight{
    float: right;
    margin-right: 20px;
}

.floaLeft{
   float: left;
   margin-left: 20px;
}
.textreaNewMsg{
    width: 80%;
    float: left;
    border: 0 none white;
    margin-top: 10px;
    height: 50px;
    max-height: 300px;
}
.newMessage{
  position: fixed;
  height: 25%;
  width: 100%;
  background-color: white;
}

.Message{
    height: 75%;
    overflow: auto;
    border-bottom: 1px solid #dfdfdf;
}
.submitButton{
    background-color: white;
    border : 0px none white;
    width : 50px;
    height : 50px;
    margin-top: 1%;
    margin-right:1%;
    background-image: url("images/submit-button-frame.png");
    
}

@media screen and (min-width: 639px) and (max-width: 1200px) {
    .sideNav {
        width: 0px;  
    }
    .main {
        width: 100%;
    }
    .textreaNewMsg{
        width: 90%;
    }
}
@media screen and (min-width: 321px) and (max-width: 638px) {
    .sideNav {
        width: 0px;  
    }
     .main {
        width: 100%;
    }
    .textreaNewMsg{
        width: 77%;
    }
    
}
@media screen and (min-width: 0px) and (max-width: 320px) {
    .sideNav {
        width: 0px;
    } 
    .main {
        width: 100%;
    }
    .textreaNewMsg{
        width: 80%;
    }
}

/* popup styles */
.FormLineDiv{
    width: 100%;
    position: relative;
}
.PopUpLabelDiv{
    width: 20%;
    display: inline-block;
}
.PopUpInputDiv{
    width: 79%;
    display: inline-block;
}
input[type=text] {
    padding: 6px 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 2s ease-in-out;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .content {
  overflow: auto;
 
}

.headLable{
    font-size: 20px;
}

