@import url(https://fonts.googleapis.com/css?family=Nunito);

header {
    width : 100%;
    height: 100px;
    background-color: #353744;
    
}


body{
    margin: 0;
        font-family: "Nunito";
}
.logo {
    margin-top: 10px;
    margin-left: 10px;
}

nav {
    min-height: calc(100% - 100px);
    position: absolute;
    width: 160px;
    background-color: #61d290; 
}

.main {
    background-color: #f6f6f6;
    width: calc(100% - 160px);
    height: calc(100% - 100px);
    position: absolute;
    margin-left: 160px;

}

.floatRight{
    float: right;
    margin-right: 20px;
}

.floaLeft{
   float: left;
   margin-left: 20px;
}
.textreaNewMsg{
    width: 80%;
    float: left;
    border: 0 none white;
    margin-top: 10px;
    height: 50px;
    max-height: 300px;
}
.newMessage{
  position: fixed;
  height: 25%;
  width: 100%;
  background-color: white;
}

.Message{
    height: 75%;
    overflow: auto;
    border-bottom: 1px solid #dfdfdf;
    width: 100%;
}
.submitButton{
    background-color: white;
    border : 0px none white;
    width : 50px;
    height : 50px;
    margin-top: 1%;
    margin-right:1%;
    cursor: pointer;  
}
.deleteButton{
    background-color:transparent;
    border : 0px none transparent;
    margin-top: 1%;
    margin-right:2%;
    cursor: pointer;
    float: right;  
}
.deleteMessageDiv{
    float:right;
    position: relative;
    display: none;
}
.deleteMessageDiv:focus{
    display: unset;
}
.messageNameAndTimeDiv{
    
    display: inline-block;
}

/* popup styles */
.FormLineDiv{
    width: 100%;
    
}
.PopUpLabelDiv{
    width: 20%;
    display: inline-block;
    font-size: 13px;
    color: grey;
}
.PopUpInputDiv{
    width: 69%;
    display: inline-block;
}
input[type=text],input[type=email] {
    padding: 6px 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    font-weight:bold;
}
.ButtonStayAnonymous{
    float: right;
    background: linear-gradient(#cdcdcd,#b6b6b6 );
    background: -webkit-linear-gradient(#cdcdcd, #b6b6b6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#cdcdcd, #b6b6b6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#cdcdcd, #b6b6b6); /* For Firefox 3.6 to 15 */
    color: black;
    border: 0;
    border-radius: 0px;
    width: 120px;
    height: 20px; 
    font-size: 13px;
    margin-right: 73px;
    position: absolute;
    bottom: 10%;
    right: 10%;
    cursor: pointer;
}
.ButtonSave{
    float: right;
    margin-left: 5px;
    font-size: 13px;
    background: linear-gradient(#69c45a,#4ca671 );
    background: -webkit-linear-gradient(#69c45a, #4ca671); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#69c45a, #4ca671); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#69c45a, #4ca671); /* For Firefox 3.6 to 15 */
    color: white;
    border: 0;
    border-radius: 0px;
    width: 70px;
    height: 20px; 
    position: absolute;
    bottom: 10%;
    right: 10%;
    cursor: pointer;
    
}
/*
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 10% auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 2s ease-in-out;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .content {
  overflow: auto;
 
}

.headLabel{
    font-size: 20px;
}
li{
    list-style-type: none;
}
.SingleMessageImage{
   float: left;
    width: 40px; 
    height: 40px;
}
.ProfileImage{
    border-radius: 25px;
}

.SingleMessageTextBox{
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    max-width: 600px;
    min-width: 40%;
    background-color: white;
    margin-left:5px;
    outline:none;

}
.SingleMessageTextBox:hover .deleteMessageDiv{
    background-color: #ebebeb;
    display: unset;
}
.SingleMessageTextBox:hover{
    background-color: #ebebeb;
}

.SingleMessageTextBox:focus{
    background-color: #ebebeb;
}

.SingleMessageTextBox:focus .deleteMessageDiv{
    background-color: #ebebeb;
    display: unset;
}
.SingleMessageUsernameText{
    color: black;
    font-family: "Nunito";  
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
}

.SingleMessageTimeText{
    color: grey;
    font-family: "Nunito";
    font-size: 10px;
    margin-left: 5px;
    margin-right:5px;
}
.SingleMessageMessageBox{
    margin: 5px;
    font-family: "Nunito";
    font-size: 12px;
    word-break:break-all;
}


@media screen and (min-width: 639px) and (max-width: 1200px) {
    nav {
        width: 0px;  
    }
    .main {
        margin-left: 0px;
        width: 100%;
    }
    .textreaNewMsg{
        width: 90%;
    }
    .popup {
        width: 60%;
        height: 70%;
    }
    .PopUpLabelDiv{
        width: 100%;
    }
}
@media screen and (min-width: 321px) and (max-width: 638px) {
    nav {
        width: 0px;  
    }
    .main {
        margin-left: 0px;
        width: 100%;
    }
    .textreaNewMsg{
        width: 77%;
    }
    .popup {
        width: 80%;
        height: 80%;
    }
    .PopUpLabelDiv{
        width: 100%;
    }
    
}
@media screen and (min-width: 0px) and (max-width: 320px) {
    nav {
        width: 0px;
    } 
    .main {
        margin-left: 0px;
        width: 100%;
    }
    .textreaNewMsg{
        width: 80%;
    }
    .popup {
        width: 80%;
        height: 80%;
    }
    .PopUpLabelDiv{
        width: 100%;
    }
}

